<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Dentis One</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
    </head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" @Html.ActionLink("DentisOne", "Index", "Home", new { @class = "navbar-brand" })></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                        @Html.Partial("_LoginPartial")
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Inicio</a>
                    </li>
                    <li class="active">
                        @*<a href="@Url.Action("Index","Paciente")"><i class="fa fa-fw fa-dashboard"></i> Pacientes</a>*@
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-dashboard"></i> Pacientes <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="@Url.Action("AltasPaciente", "Paciente")"><i class="fa fa-fw fa-user"></i> Alta de Pacientes</a>
                            </li>
                            <li>
                                <a href="@Url.Action("BuscadorPacientes", "Paciente")"><i class="fa fa-fw fa-user"></i> Buscador de Pacientes</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Agenda")"><i class="fa fa-fw fa-calendar"></i> Agenda</a>
                    </li>
                    <li>
                        <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Pagos</a>
                    </li>
                    <li>
                        <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Historia Clínica</a>
                    </li>
                    <li>
                        <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Catálogos </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                    </li>
                    <li>
                        <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                @Html.Partial("_Counters")
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="@ViewBag.FontAwesome"></i> @ViewBag.Title
                            </li>
                        </ol>
                    </div>
                </div>
                @RenderBody()
                <div class="row">
                    <div class="text-center">
                        <p>&copy; @DateTime.Now.Year | Dentis One | Powered by <a href="controlzeta.com.mx/blog" target="_blank">Control Zeta </a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    @RenderSection("scripts", required: false)
    <!-- Morris Charts JavaScript -->
    <script src="~/Scripts/plugins/morris/raphael.min.js"></script>
    <script src="~/Scripts/plugins/morris/morris.min.js"></script>
    <script src="~/Scripts/plugins/morris/morris-data.js"></script>
</body>
</html>

